@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

@theme {
  --color-primary: light-dark(#111827, #f3f4f6);
  --color-secondary: light-dark(#6b7280, #9ca3af);
  --color-accent: light-dark(#7c3aed, #8b5cf6);
  --color-border: light-dark(#e5e7eb, #374151);

  --color-bg-primary: light-dark(#f9fafb, #0b0f19);
  --color-bg-secondary: light-dark(#f3f4f6, #1a1f2e);
}

* {
  box-sizing: border-box;
}

body {
  @apply text-primary bg-bg-primary text-xl;

  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}

.swiper-slide {
  width: max-content;
  height: max-content;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.grid-cols-table {
  grid-template-columns: 35px 2fr 1fr 60px;
}

.grid-cols-table div {
  @apply py-1 px-2 border-r border-border/50;
}

@media (width < 768px) {
  .table-wrapper {
    width: 100%;
    overflow-y: auto;
  }

  .table-section {
    width: 768px;
  }
}
